<!-- <app-hello-world></app-hello-world>
<app-text-formatter text="Lorem ipsum"></app-text-formatter>
<app-text-formatter [text]="getText()"></app-text-formatter>
<app-number-formatter [value]="10"></app-number-formatter> -->

<app-super-button label="Kliknij mnie" [click]="buttonClick"></app-super-button>
<app-emitter-button label="Kliknij mnie" (onButtonClick)="buttonClick($event)"></app-emitter-button>

<h1 *ngIf="isVisible">Hello world! Jestem warunkowo wyświetlany!</h1>
<app-text-formatter *ngIf="isVisible" text="Lorem ipsum"></app-text-formatter>

<app-user [user]="user"></app-user>

<ul>
    <li *ngFor="let user of users; trackBy: userTrackBy; let index = index">
        <div *ngIf="user.age >= 18">
            <span [ngClass]="getElementClass(index)">{{user.name}}</span>
        </div>
    </li>
</ul>